<div class="file-card">
    <button class="options-btn" data-id="<%= file.id %>">⋯</button>
    <div class="file-header">
        <div class="file-icon"></div>
    </div>

    <div class="file-name">
        <%= file.name %>
    </div>

    <div class="options-menu hidden" id="menu-<%= file.id %>">
        <div class="form-container">
            <form class="rename-form" action="/dashboard/rename-file" method="post">
                <input type="hidden" name="fileId" value="<%= file.id %>">
                <input type="hidden" name="folderId" value="<%= folder ? folder.id : null %>">
                <input class="rename-input" type="text" name="newName" placeholder="New Name" required>
                <button type="submit">Rename</button>
            </form>

            <form class="delete-form" action="/dashboard/delete-file" method="post">
                <input type="hidden" name="fileId" value="<%= file.id %>">
                <input type="hidden" name="folderId" value="<%= folder ? folder.id : null %>">
                <button type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>